body, #editor {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 14;
}

#enumerate {
}

#text-area:focus {
    outline: none ;
    filter: brightness(95%);
    overflow-x: auto !important;
}

/* font awaesome font color */
.icon-white {
    color: #f8f8f2;
}

.icon-black {
    color: #282A36;
}

/* https://en.wikipedia.org/wiki/Dracula_(color_scheme) */
.theme-white {
    background-color: #f8f8f2 !important;
    color: #282A36 !important;
}

.theme-black{
    background-color: #282A36 !important;
    color: #f8f8f2 !important;
}

/* custom scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
    padding: 0px 1px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6272a4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    filter: brightness(500%);
}
