body, #editor {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 14;
}

#editor:focus {
    outline: none ;
    filter: brightness(95%);
}

/* font awaesome font color */
.icon-white {
    color: #f8f8f2;
}

.icon-black {
    color: #282A36;
}

/* https://en.wikipedia.org/wiki/Dracula_(color_scheme) */
.theme-white {
    background-color: #f8f8f2 !important;
    color: #282A36 !important;
}

.theme-black{
    background-color: #282A36 !important;
    color: #f8f8f2 !important;
}
